<div class="col d-flex justify-content-center">
  <div class="card" style="width: 24rem; margin-top: 6rem;">
    <div class="card-body">
      <h2 class="card-title">Registreren</h2>
      <p class="card-text">Voer uw gegevens in</p>

      <div *ngIf="showError" class="alert alert-danger alert-dismissible fade show" role="alert">
        {{error}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form (submit)="register()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" placeholder="voorbeeld@avans.nl" [(ngModel)]="credentials.email" required>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col">
              <label for="firstName">Voornaam</label>
              <input type="text" class="form-control" name="firstName" placeholder="Voornaam" [(ngModel)]="credentials.firstName" required>
            </div>
            <div class="col">
              <label for="lastName">Achternaam</label>
              <input type="text" class="form-control" name="lastName" placeholder="Achternaam" [(ngModel)]="credentials.lastName" required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Wachtwoord</label>
          <input type="password" class="form-control" name="password" placeholder="Wachtwoord" [(ngModel)]="credentials.password" required>
          <input type="password" class="form-control" name="confirmPassword" placeholder="Bevestig Wachtwoord" [(ngModel)]="credentials.passwordConfirm" required>
        </div>
        <button type="submit" class="btn btn-primary">Registreren</button>
      </form>
    </div>
  </div>
</div>
