<app-header></app-header>

<div class="container-fluid mb-3">
  <div class="row mt-3">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          Beschikbare activiteiten
        </div>
        <ul class="list-group list-group-flush">
          <div class="scroll">
            <li *ngIf="loading" class="list-group-item">Bezig met laden. Een ogenblik geduld.</li>
            <li *ngFor="let component of components;" class="list-group-item list-group-item-action"
              (click)="onSelect(component)">{{component?.name}}</li>
          </div>
        </ul>
        <div class="card-body border-top">
          <button type="button" class="btn btn-primary btn-sm" routerLink="/components/new">Nieuwe activiteit toevoegen</button>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div *ngIf="selectedComponent != null">

        <div class="row">
          <div class="col-11">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                <li class="breadcrumb-item"><a routerLink="/components">Activiteit</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{selectedComponent?.name}}</li>
              </ol>
            </nav>
          </div>
          <div class="col-1">
            <div class="btn-toolbar float-right" role="toolbar">
              <div class="btn-group btn-group-lg" role="group">
                <button type="button" class="btn btn-primary" [routerLink]="['/components/edit/', selectedComponent?._id]"><i class="far fa-edit"></i></button>
                <button type="button" class="btn btn-danger" (click)="deleteComponent(selectedComponent)"><i class="fas fa-trash-alt"></i></button>
              </div>
            </div>

          </div>
        </div>

        <table class="table table-bordered">
          <tbody>
            <tr>
              <td style="width: 16.66%">Naam</td>
              <td>{{selectedComponent?.name}}</td>
            </tr>
            <tr>
              <td style="width: 16.66%">Expressiegebied</td>
              <td>{{selectedComponent?.expressionField}}</td>
            </tr>
            <tr>
              <td style="width: 16.66%">Duur</td>
              <td>{{selectedComponent?.duration}} minuten</td>
            </tr>
            <tr>
              <td style="width: 16.66%">Budget</td>
              <td>{{ selectedComponent?.budget | currency:'EUR' }}</td>
            </tr>
          </tbody>
        </table>

        <div class="card">
          <div class="card-body">
            <div [innerHTML]="selectedComponent?.componentText">
            </div>
          </div>
          <div class="card-footer text-muted">
              Gemaakt op: {{selectedComponent?.createdAt | date:'longDate'}} <br>
              Laatst bewerkt op {{selectedComponent?.updatedAt | date:'longDate'}}
            </div>
        </div>
      </div>

      <div *ngIf="showError" class="alert alert-danger alert-dismissible fade show" role="alert">
        {{error}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div *ngIf="showNotification" class="alert alert-primary alert-dismissible fade show" role="alert">
          {{notification}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

      <div *ngIf="selectedComponent == null">
        <h4>Geen activiteit geselecteerd.</h4>
        <p>Selecteer een activiteit in het linkermenu</p>
      </div>
    </div>
  </div>
