<app-header></app-header>

<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-md-3">
      <ul class="list-group">
          <li class="list-group-item list-group-item-primary">Beschikbare activiteiten</li>
        <li *ngFor="let component of components; let i = index" class="list-group-item list-group-item-action">{{component.name}}</li>
      </ul>
    </div>
    <div class="col-md-9">
      <p>Lorem ipsum dolor sit amet, congue assueverit philosophia nec eu, ea est offendit adolescens definiebas. Vel
        et purto exerci aliquid. Vis ad soleat possim, vix cu cibo summo vituperata. Te nullam quodsi incorrupte pri,
        qui option utroque ut. Vix legendos persecuti argumentum ad, te vidit natum sed. Cu vis soleat maiorum
        abhorreant. Qui wisi maiorum oporteat cu, ne ius expetendis vituperatoribus, at his dolor discere erroribus.</p>
    </div>
  </div>
