<app-header></app-header>

<div class="container mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/activities">Opkomst</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{selectedActivity.name}}</li>
    </ol>
  </nav>

  <h1>Opkomst aanpassen</h1>
  <p class="lead">Voer onderstaand formulier in om de bestaande activiteit aan te passen</p>

  <div *ngIf="showError" class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form (submit)="editActivity()">
    <div class="row">
      <div class="col">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td style="width: 16.66%">Naam</td>
              <td><input class="form-control" type="text" name="name" placeholder="Opkomstnaam" [(ngModel)]="selectedActivity.name"
                  required></td>
            </tr>
            <tr>
              <td style="width: 16.66%">Datum</td>
              <td><input class="form-control" type="date" name="date" placeholder="Datum" [(ngModel)]="selectedActivity.date"
                  required></td>
            </tr>
            <tr>
              <td style="width: 16.66%">Expressiegebied</td>
              <td><input class="form-control" type="text" name="expressionField" placeholder="Expressiegebied"
                  [(ngModel)]="selectedActivity.expressionField" required></td>
            </tr>
          </tbody>
        </table>

        <div class="card mt-3">
          <div class="card-body">
            <input type="submit" class="btn btn-primary" value="Verstuur">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
